.main-header {
	width: 11rem;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	z-index: 20;

	@media #{$md} {
		width: 100%;
		bottom: auto;
	}

	&-wrapper {
		flex-grow: 1;
		background: $green;
		color: $white;
		padding: calc(0.75 * var(--rem));
		border-radius: 0 0 2*$radius 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;

		@media #{$md} {
			border-radius: 0;
			padding: 0.5rem var(--rem);
			flex-direction: row;
		}

		@media #{$sm} {
			padding: 0.5rem calc(0.5 * var(--rem));
		}

		&-footer {
			padding: calc(0.5 * var(--rem)) calc(0.75 * var(--rem));
			text-align: center;

			.button {
				min-height: 2rem;

				svg {
					width: 1rem;
					height: 1rem;
				}
			}

			@media #{$md} {
				display: none;
			}
		}
	}

	&-logo {
		img {
			height: 75px;
		}
		
		@media #{$md} {
			img {
				max-width: 100%;
				height: 1.5rem;
			}
		}
	}

	&-content {
		margin: calc(0.75 * var(--rem)) 0;

		@media #{$md} {
			display: none;
		}
	}

	&-social {
		@media #{$md} {
			display: none;
		}

		.menu {
			list-style-type: none;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0;

			&-item {
				margin: 0 0.5rem;

				&-link {
					color: $green-medium;
					transition: $ts;

					svg {
						width: 1rem;
						height: 1rem;
					}

					&:hover {
						color: $white;
					}
				}
			}
		}
	}

	&-nav {
		@media #{$md} {
			display: none;
		}

		.menu {
			list-style-type: none;
			margin: calc(0.5 * var(--rem)) 0 0 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			justify-content: center;

			&-item {
				margin: 0.5rem 0;

				&-link {
					border-radius: 999px;
					background: $green;
					transition: $ts;
					color: $green-lime;
					box-shadow: 0 0.4rem 1rem 0.2rem rgba($black, 0.2);
					text-align: center;
					padding: 0.6rem 1rem;
					display: block;

					&:hover {
						color: $white;
						box-shadow: 0 0.4rem 1rem 0.3rem rgba($black, 0.22);
					}

					&--active {
						box-shadow: inset 0 0.4rem 1rem 0.2rem rgba($black, 0.2) !important;
						background: $green-dark;
					}
				}
			}
		}

		&-mobile {
			display: none;

			@media #{$md} {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: $green;
				transition: transform $ts-medium $easing;
				transform: translateX(105%);

				&.-active {
					transform: none;
				}

				&-logo {
					width: 100%;
					margin-bottom: var(--rem);

					img {
						height: 4rem;
					}
				}

				.menu {
					list-style-type: none;
					text-align: center;
					margin: 0;
					padding: 0;

					&-item {
						margin-top: 0.25rem;

						&-link {
							color: $green-lime;

							&:hover,
							&--active {
								color: $white;
							}
						}
					}
				}
			}
		}
	}

	&-button {
		text-align: center;

		@media #{$md} {
			display: none;
		}

		.button {
			min-height: 2rem;

			svg {
				width: 1rem;
				height: 1rem;
			}
		}

		&-mobile {
			display: none;

			@media #{$md} {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0.25rem;
				cursor: pointer;
				z-index: 10;

				span {
					display: flex;
					flex-direction: column;
					align-items: stretch;
					justify-content: space-between;
					width: 1.2rem;
					height: 1rem;
				}

				b {
					display: block;
					width: 100%;
					height: 0.2rem;
					background: $white;
					transition: $ts;
					position: relative;
					transition-delay: 0.05s;
					border-radius: 1rem;

					&.b2 {
						background: none;

						&:before,
						&:after {
							content: '';
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
							background: $white;
							transition: $ts;
							border-radius: 1rem;
						}

						&:before {
							opacity: 0;
						}
					}
				}

				&.-active {
					b {
						opacity: 0;
						transition-delay: 0;

						&.b2 {
							opacity: 1;

							&:before { transform: rotate(45deg); }
							&:after { transform: rotate(-45deg); }
							&:before,
							&:after {
								transition-delay: 0.05s;
								opacity: 1;
							}
						}
					}
				}

			}			
		}
	}
}

.admin-bar {
	.main-header {
		top: 32px;

		@media #{$md} {
			top: 0;
		}
	}

	@media #{$md} {
		#wpadminbar {
			display: none !important;
		}
	}
}