{% include 'flexibles/_flexible-title.twig' with { title: flexible.title } %}

<div class="wrapper">
	<div class="col">
		<div class="wysiwyg-text">
			{{ flexible['text-col-1'] }}
		</div>
	</div>
	<div class="col">
		<div class="wysiwyg-text">
			{{ flexible['text-col-2'] }}
		</div>
	</div>
</div>