.single {
	&-header {
		margin: calc(2 * var(--rem)) auto;
		max-width: 860px;
		text-align: center;
	}

	&-title {
		margin: 0;
	}

	&-meta {
		margin-top: calc(0.5 * var(--rem));
		font-size: 0.6rem;
		display: flex;
		align-items: center;
		justify-content: center;

		&-separator {
			color: $gray-lime;
			margin: 0 0.5rem;
			font-weight: $fw-bold;
		}

		&-category {
			font-weight: $fw-semi;
			color: $orange;
		}

		&-date {

		}
	}
}